/* fullscreen canvas baseline */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent canvas from causing scrollbars */
  touch-action: none; /* prevent touch gestures from scrolling/zooming on canvas */
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%; /* avoid font auto-zoom on orientation change */
}

canvas {
  display: block;   /* remove extra spacing around canvas */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

#help {
  cursor: help;
  position: absolute;
  right: max(15px, env(safe-area-inset-right));
  top: max(15px, env(safe-area-inset-top));
  background-color: black;
  color: white;
  padding: 4px;
  font-family: sans-serif;
  font-size: 15px;
  touch-action: manipulation; /* allow tap/click */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#help-content {
  font-family: monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 17px;
  white-space: pre;
  z-index: 10;
}

#help-content a {
  color: black;
}

#help-content a {
  color: black;
}
